/* Resetting default browser styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    margin: 20px;
}

header, section, footer {
    margin-bottom: 30px;
}

h1 {
    font-size: 28px;
    color: #333;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 5px;
}

p {
    font-size: 16px;
    color: #555;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

.job {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    font-size: 14px;
    color: #777;
}

/* Media query for responsive design */
@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    h3 {
        font-size: 18px;
    }
    
    p {
        font-size: 14px;
    }
}

.profile-image {
    width: 150px; /* Adjust as needed */
    height: 150px; /* Adjust as needed */
    border-radius: 50%; /* Makes the image round */
    object-fit: cover; /* Ensures the image covers the entire container */
}
/* Styles for the Languages section */
/* Styles for the Languages section */
#languages {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#languages h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.languages {
    font-size: 18px;
    color: #555;
}

/* Styles for the Education section */
#education {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#education h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.education {
    font-size: 18px;
    color: #555;
}

.education p {
    margin-bottom: 5px;
}

.education strong {
    font-weight: bold;
    color: #000;
}
